@tailwind base;
@tailwind components;
@tailwind utilities;

/* Core */
ody {
    font-family: "Poppins", serif;
}

/* Fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
}
.logo, .dm-serif {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--primary);
}

input[type="text"], textarea, input[type="password"], input[type="email"] {
    @apply w-full py-1 px-2 my-2 border border-emerald-700 rounded-sm text-center text-sm focus:outline-none resize-none;
}

input[type="submit"], button[type="submit"] {
    @apply w-full py-1 px-2 my-2 bg-emerald-700 text-white rounded-sm;
}

input[type="date"], input[type="datetime-local"] {
    @apply w-full py-1 px-2 my-2 border border-emerald-700 rounded-sm text-xs focus:outline-none;
}

label {
    @apply block text-sm text-gray-700;
}

label:not(.checkbox)::before {
    content: '';
    @apply bg-emerald-700 inline-block h-2 w-2 me-2 rounded-full;
}

select {
    @apply w-full py-1 px-2 my-2 bg-slate-50 border text-sm border-emerald-700 rounded-sm;
}
